### Проверка работоспособности и качества пайплайна

Здесь мы еще не запускаем никакое API, а загружаем модель (pipeline) напрямую и проверяем на отложенной (тестовой) выборке

In [51]:
import pandas as pd
#from sklearn.metrics import roc_auc_score,roc_curve,scorer
from sklearn.metrics import roc_auc_score,roc_curve
import dill
dill._dill._reverse_typemap['ClassType'] = type

In [52]:
X_test = pd.read_csv("X_test.csv")
y_test = pd.read_csv("y_test.csv")

In [53]:
X_test.head()

,tenure,PhoneService,TotalCharges,StreamingMovies,StreamingTV,TechSupport,gender
0,1,0,24.80,0,0,0,Female
1,41,1,996.45,0,0,0,Male
2,52,1,1031.70,0,0,0,Female
3,1,1,76.35,0,0,0,Female
4,67,1,3260.10,0,0,1,Male

In [54]:
with open('model_RF.dill', 'rb') as in_strm:
    pipeline = dill.load(in_strm)

In [55]:
predictions = (pipeline.predict_proba(X_test))

In [56]:
pd.DataFrame({'preds': predictions[:, 1]}).to_csv("test_predictions.csv", index=None)

In [57]:
roc_auc_score(y_score=predictions[:, 1][:], y_true=y_test.iloc[:])

0.7849089250794771