### Проверка работоспособности и качества пайплайна

Здесь мы еще не запускаем никакое API, а загружаем модель (pipeline) напрямую и проверяем на отложенной (тестовой) выборке

In [4]:
import pandas as pd
from sklearn.metrics import roc_auc_score,roc_curve,scorer
import dill
dill._dill._reverse_typemap['ClassType'] = type

In [6]:
X_test = pd.read_csv("X_test.csv")
y_test = pd.read_csv("y_test.csv")

In [9]:
X_test.head()

,gender,tenure,PhoneService,TotalCharges,StreamingMovies,StreamingTV,TechSupport
0,Female,1,0,24.80,0,0,0
1,Male,41,1,996.45,0,0,0
2,Female,52,1,1031.70,0,0,0
3,Female,1,1,76.35,0,0,0
4,Male,67,1,3260.10,0,0,1

In [10]:
with open('model_RF.dill', 'rb') as in_strm:
    pipeline = dill.load(in_strm)

In [13]:
predictions = pipeline.predict_proba(X_test)
pd.DataFrame({'preds': predictions[:, 1]}).to_csv("test_predictions.csv", index=None)

In [14]:
roc_auc_score(y_score=predictions[:, 1][:], y_true=y_test.iloc[:])

0.7849089250794771